<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>ABOUT ME</title>
    </head>

    <body>
        <h1>About Me - Portfolio</h1>
        <p>I am a python web developer and love going to hackathons in my spare time. I love making things and meeting new people. I grew up in my Minnesota, so you probably won't be suprised to know that I played hockey in college.</p>
    </body>
</html>  