<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>PROJECTS</title>
    </head>

   <body>
        <h1>My Projects - Portfolio</h1>
        <ul>
            <li>Danger Zones</li>
            <li>Fat Unicorn</li>
            <li>My Cohort</li>
            <li>Certify Me</li>
            <li>SoundCloud</li>
        </ul>
    </body>
</html>  